@using CommunityHub.Core.Dtos
@model SpouseInfoDto

<div class="col-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" class="text-center" style="border-top: 2px solid #dee2e6; border-bottom: 2px solid #dee2e6;">
                    Spouse Details
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="2" class="text-center">N/A</td>
                </tr>
            }
            else
            {
                @if (!string.IsNullOrEmpty(Model.Email))
                {
                <tr>
                    <td><strong>Email:</strong></td>
                        <td>@Model.Email</td>
                </tr>
                }
                @if (!string.IsNullOrEmpty(Model.ContactNumber))
                {
                    <tr>
                        <td><strong>Contact:</strong></td>
                        <td>@Model.CountryCode - @Model.ContactNumber</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.HomeTown))
                {
                    <tr>
                        <td><strong>Home Town:</strong></td>
                        <td>@Model.HomeTown</td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.HouseName))
                {
                    <tr>
                        <td><strong>House Name:</strong></td>
                        <td>@Model.HouseName</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>